<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Mapple List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" />

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://kit.fontawesome.com/2c36e9b7b1.js"></script>
</head>

<style>
    html {
        position: relative;
        min-height: 100%;
    }

    body {
        background-color: #e6e3e3;
    }

    header {
        padding-top: 3.6rem;
    }

    a,
    a:hover {
        color: #ffffff;
        font-weight: 600;
    }

    .special-link {
        color: #0b66c2 !important;
        padding: 0.25rem;
        margin-left: -0.25rem;
        transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
        text-decoration: none !important;
    }

    .special-link:hover {
        box-shadow: inset 25rem 0 0 0 #0b66c2;
        color: #ffffff !important;
    }

    .form-control {
        border-radius: 10px;
        padding: 10px 20px;
        font-size: 18px;
        border: none;
        background-color: #f2f2f2;
    }

    .form-group label {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .shopping-list {
        margin: 3rem 0 7rem 0;
    }

    .btn-primary {
        padding: 5px 10px;
        font-size: 18px;
        border: none;
        background-color: #007bff;
    }

    .btn-primary:hover {
        background-color: #0062cc;
    }

    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 60px;
        color: #fff;
    }
</style>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-danger fixed-top">
        <div class="container-fluid d-flex justify-content-between align-items-center">

            <a class="navbar-brand" href="#">
                <i class="fab fa-canadian-maple-leaf"></i>
                Mapple List
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="navbar-nav ms-auto">
                    <a class="nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
                    <a class="nav-link" href="/about">About</a>
                    <a class="nav-link" href="/contact">Contact</a>
                </div>
            </div>
        </div>
    </nav>

    <header>
        <div class="jumbotron p-4 text-center">
            <h1>Assignment #4 - Shopping list</h1>
            <p>Web Application Programming - WDDM-120-0NA</p>
        </div>
    </header>

    <main class="container my-5">
        <% if (typeof content !=='undefined' && typeof content !=='object' ) { %>
            <%- content %>
                <% } %>
                    <% if (typeof content==='object' ) { %>
                        <div class="row justify-content-center my-5 mx-2">
                            <div class="col-md-8 bg-white p-4">
                                <div class="bg-white rounded-lg">
                                    <div class="form-group">
                                        <label for="item-name" class="text-primary font-weight-bold">Name</label>
                                        <input type="text" class="form-control" id="item-name" name="name"
                                            placeholder="Add item name..." autocomplete="off">
                                    </div>
                                    <div class="form-group">
                                        <label for="item-quantity"
                                            class="text-primary font-weight-bold">Quantity</label>
                                        <input type="number" class="form-control" id="item-quantity" name="quantity"
                                            placeholder="Add quantity...">
                                    </div>
                                    <div class="form-group">
                                        <label for="item-image" class="text-primary font-weight-bold">Image</label>
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="item-image" name="image"
                                                accept="image/*">
                                            <label class="custom-file-label" for="item-image">Choose file</label>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary add-btn mt-2 float-right"><i
                                            class="fas fa-plus pr-2"></i>Add item</button>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row justify-content-center shopping-list">
                            <div class="col-md-8">
                                <ul class="list-group" id="item-list">
                                    <% if (typeof content !=='undefined' ) { %>
                                        <% content.forEach(item=> { %>
                                            <li class="list-group-item d-flex justify-content-between align-items-center p-4 rounded-lg mb-3"
                                                style="border-left: <%= item.isAddedToBasket ? '5px solid green' : 'none' %>">
                                                <div class="d-flex align-items-center justify-content-between">
                                                    <div class="mr-3" style="width: 64px; height: 64px;">
                                                        <img src="/images/<%= item.image %>"
                                                            style="object-fit: contain; width: 100%; height: 100%;"
                                                            alt="Item Image">
                                                    </div>
                                                    <div>
                                                        <h4 class="text-primary font-weight-bold" style="<%= item.isAddedToBasket ? 'text-decoration: line-through;' : '' %>">
                                                            <%= item.name %>
                                                        </h4>
                                                        <p class="mb-0"><strong>Quantity: </strong>
                                                            <%= item.quantity %>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div>
                                                    <button class="btn btn-success mr-2 basket-btn btn-md"
                                                        style="display: <%= item.isAddedToBasket ? 'none' : 'inline-block' %>"
                                                        data-id="<%= item.id %>"><i
                                                            class="fas fa-shopping-basket"></i></button>
                                                    <button class="btn btn-secondary mr-2 edit-btn btn-md"
                                                        data-id="<%= item.id %>"><i class="fas fa-edit"></i></button>
                                                    <button class="btn btn-danger delete-btn btn-md"
                                                        data-id="<%= item.id %>"><i class="fas fa-trash"></i></button>
                                                </div>
                                            </li>
                                        <% }) %>
                                    <% } else { %>
                                        <div class="alert alert-info text-center p-4 rounded-lg">
                                            <p class="mb-0">No items in your list yet!</p>
                                        </div>
                                    <% } %>
                                </ul>
                            </div>
                        </div>
                    <% } %>
    </main>
    <div class="modal fade" id="edit-item-modal" tabindex="-1" aria-labelledby="edit-item-modal-label"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="edit-item-modal-label">Edit Item</h5>
                    <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <form id="edit-item-form">
                        <div class="mb-3">
                            <label for="edit-item-name" class="form-label">Name</label>
                            <input type="text" class="form-control" id="edit-item-name" name="name" required>
                        </div>
                        <div class="mb-3">
                            <label for="edit-item-quantity" class="form-label">Quantity</label>
                            <input type="number" class="form-control" id="edit-item-quantity" name="quantity" required>
                        </div>
                        <div class="mb-3">
                            <label for="item-image" class="text-primary font-weight-bold">Image</label>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="edit-item-image" name="image"
                                    accept="image/*">
                                <label class="custom-file-label" for="edit-item-image">Choose
                                    file</label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary" id="edit-item-submit">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer bg-danger d-flex justify-content-center align-items-center">
        <span>© 2023 - <a href="https://www.linkedin.com/in/diegoarndt/">Diego Arndt</a></span>
    </footer>

    <script>

        $(document).ready(() => {
            $('#item-image, #edit-item-image').on('change', function (event) {
                const fileName = event.target.files[0].name;
                $(this).siblings('.custom-file-label').html(fileName);
            });

            // Attach click event listener to item list
            $('#item-list').on('click', '.edit-btn', (event) => {
                const itemId = event.currentTarget.getAttribute('data-id');

                $.ajax({
                    url: `/items/${itemId}`,
                    method: 'GET',
                    success: (item) => {
                        // Populate the modal with the current item details
                        $('#edit-item-name').val(item.name);
                        $('#edit-item-quantity').val(item.quantity);

                        // Set the data-id attribute of the form element to the item id
                        $('#edit-item-form').attr('data-id', item.id);

                        // Show the modal
                        $('#edit-item-modal').modal('show');
                    },
                    error: (error) => {
                        console.error(`Failed to retrieve item. Please try again later. ${error}`);
                    },
                });
            });

            $('#edit-item-form').submit((event) => {
                event.preventDefault();

                const itemId = $('#edit-item-form').attr('data-id');
                const formData = new FormData(event.target);

                $.ajax({
                    url: `/item/${itemId}`,
                    method: 'PUT',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: () => {
                        // Hide the modal
                        $('#edit-item-modal').modal('hide');

                        // Refresh the item list
                        updateItemList();
                    },
                    error: (error) => {
                        console.error(`Failed to update item. Please try again later. ${error}`);
                    },
                });
            });

            $('#item-list').on('click', '.delete-btn', (event) => {
                const itemId = event.currentTarget.getAttribute('data-id');

                $.ajax({
                    url: `/item/${itemId}`,
                    method: 'DELETE',
                    success: () => {
                        // Remove the deleted item from the DOM
                        const itemDiv = event.currentTarget.closest('.item');
                        if (itemDiv) {
                            itemDiv.remove();
                        }

                        // Update the item list
                        updateItemList();
                    },
                    error: (error) => {
                        console.error(`Failed to delete item. Please try again later. ${error}`);
                    },
                });
            });

            // Add click handler for basket buttons
            $('#item-list').on('click', '.basket-btn', (event) => {
                const itemId = event.currentTarget.getAttribute('data-id');

                $.ajax({
                    url: `/item/${itemId}`,
                    method: 'PUT',
                    data: {
                        isAddedToBasket: true,
                    },
                    success: () => {
                        // Update the item in the shopping list
                        const itemElement = document.querySelector(`[data-id="${itemId}"]`);

                        const itemLi = event.currentTarget.closest('li');
                        itemLi.style.borderLeft = '5px solid green';

                        itemElement.classList.add('d-none');
                    },
                    error: (error) => {
                        console.error(`Failed to update item: ${error}`);
                    },
                });
            });

            $('.add-btn').on('click', () => {
                const nameInput = $('#item-name');
                const quantityInput = $('#item-quantity');
                const imageInput = $('#item-image')[0].files[0]; // get the uploaded file

                const newItem = new FormData();
                newItem.append('name', nameInput.val());
                newItem.append('quantity', quantityInput.val());
                newItem.append('image', imageInput); // append the file to the FormData object

                $.ajax({
                    url: '/item',
                    method: 'POST',
                    processData: false, // prevent jQuery from automatically processing the FormData object
                    contentType: false, // let the browser set the Content-Type header for the request
                    data: newItem,
                    success: (item) => {
                        // Update the item list
                        updateItemList();
                        nameInput.val('');
                        quantityInput.val('');
                        $('#item-image').siblings('.custom-file-label').html('Choose file');
                    },
                    error: (error) => {
                        console.error(`Failed to add item. Please try again later.`);
                    },
                });
            });
        });

        const nameInput = $('#item-name');
        const quantityInput = $('#item-quantity');
        const addButton = $('.add-btn');

        toggleButton();

        nameInput.on('input', toggleButton);
        quantityInput.on('input', toggleButton);

        function toggleButton() {
            if (nameInput.val() && quantityInput.val()) {
                addButton.prop('disabled', false);
            } else {
                addButton.prop('disabled', true);
            }
        }

        function formDataToObject(formData) {
            let object = {};
            formData.forEach((value, key) => {
                object[key] = value;
            });
            return object;
        }

        function updateItemList() {
            fetch('/items')
                .then((response) => {
                    if (!response.ok) {
                        throw new Error('Failed to retrieve items');
                    }
                    return response.json();
                })
                .then((items) => {
                    const itemList = document.querySelector('#item-list');
                    let itemListHTML = '';
                    items.forEach((item) => {
                        itemListHTML += `
                            <li class="list-group-item d-flex justify-content-between align-items-center bg-white p-3 rounded-lg mb-3" style="border-left: ${item.isAddedToBasket ? '5px solid green' : 'none'
                            }">
                                <div class="d-flex align-items-center">
                                <div class="mr-4" style="width: 64px; height: 64px;">
                                    <img src="/images/${item.image}" style="object-fit: contain; width: 100%; height: 100%;" alt="Item Image">
                                </div>
                                <div>
                                    <h4 class="text-primary font-weight-bold">${item.name}</h4>
                                    <p class="mb-0"><strong>Quantity: </strong>${item.quantity}</p>
                                </div>
                                </div>
                                <div>
                                <button class="btn btn-success mr-2 basket-btn btn-md" style="display: ${item.isAddedToBasket ? 'none' : 'inline-block'
                            }" data-id="${item.id}"><i class="fas fa-shopping-basket"></i></button>
                                <button class="btn btn-secondary mr-2 edit-btn btn-md" data-id="${item.id}"><i class="fas fa-edit"></i></button>
                                <button class="btn btn-danger delete-btn btn-md" data-id="${item.id}"><i class="fas fa-trash"></i></button>
                                </div>
                            </li>
                            `;
                    });
                    itemList.innerHTML = itemListHTML;
                    toggleButton();

                    // Add click handler for basket buttons
                    $('#item-list').on('click', '.basket-btn', (event) => {
                        const itemId = event.currentTarget.getAttribute('data-id');
                        $.ajax({
                            url: `/item/${itemId}`,
                            method: 'PUT',
                            data: {
                                isAddedToBasket: true,
                            },
                            success: () => {
                                // Update the item in the shopping list
                                const itemElement = event.target.closest('li');
                                itemElement.style.borderLeft = '5px solid green';

                                const h4Element = itemElement.querySelector('h4');
                                if (h4Element) {
                                    h4Element.style.textDecoration = 'line-through';
                                }

                                event.target.style.display = 'none';
                            },
                            error: (error) => {
                                console.error(`Failed to update item: ${error}`);
                            },
                        });
                    });
                })
                .catch((error) => {
                    console.error(`Failed to retrieve items. Please try again later. ${error}`);
                });
        }

    </script>

</body>

</html>